/* --- general styles & setup --- */
* {
  margin: 0;
  font-family: sans-serif;
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

button,
summary {
  cursor: pointer;
}

button {
  border: none;
  background: none;
}

:root {
  --base-padding: 15px;
  --indent-padding: 0px;
  --sprite-interval: 14px;
  --primary: #4285f4;
  --white: #ffffff;
}

/* --- styles for main "modal" --- */
.modal {
  width: 320px;
  min-height: 640px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 18px 28px 0px rgb(0 0 0 / 30%);
}

/* --- Modal heading & label --- */
.heading {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 var(--base-padding);
  justify-content: space-between;
  background: #f5f5f5;
  border-bottom: 1px solid #e2e2e2;
}

.heading button {
  width: 14px;
  height: var(--sprite-interval);
  opacity: 0.22;
  background: url('icon-sprite.png') calc(-3 * var(--sprite-interval)) 0px;
}

.heading button:hover {
  opacity: 0.5;
}

.label {
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  color: #b2b2b2;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: var(--base-padding);
}

/* --- styles for the file tree --- */
.file-tree {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-bottom: 1px solid #e2e2e2;
  --gap-size: 10px;
  --text: #666666;
}

/* folder wrapper */
.file-tree summary div {
  display: flex;
  align-items: center;
  text-transform: lowercase;
  gap: var(--gap-size);
}
/* "plus" icon next to folders */
.file-tree summary div::before {
  content: '';
  height: var(--sprite-interval);
  width: 9px;
  display: block;
  opacity: 0.3;
  position: relative;
  top: 1px;
  background: url('icon-sprite.png') calc(-4 * var(--sprite-interval) - 2px) 0px;
}
/* change to "minus" icon when folder is open */
.file-tree details[open] > summary div::before {
  background-position: calc(-5 * var(--sprite-interval) - 2px) 0px;
}
/* folder icon */
.file-tree summary div::after {
  content: '';
  width: 14px;
  height: var(--sprite-interval);
  display: block;
  background: url('icon-sprite.png') calc(-0 * var(--sprite-interval)) 0px;
}
/* folder title (should be last) */
.file-tree summary span {
  order: 2;
  color: var(--text);
}

/* file wrapper */
.file-tree button,
summary {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  padding-left: calc(var(--base-padding) + var(--indent-padding));
}

.file-tree button {
  padding-left: calc(var(--base-padding) + var(--indent-padding) + 18px);
  text-align: left;
}

/* file icon */
.file-tree button div::before {
  content: '';
  width: 14px;
  height: var(--sprite-interval);
  display: block;
  background: url('icon-sprite.png') calc(-2 * var(--sprite-interval)) 0px;
}

.file-tree button div {
  display: flex;
  gap: var(--gap-size);
  color: var(--text);
}

.file-tree button:focus,
.file-tree summary:focus {
  background: var(--primary);
}
.file-tree button:focus div,
.file-tree summary:focus span {
  color: var(--white);
}

/* the head tag should be last */
.head {
  order: 1;
}
/* change the folder icon for head tag */
.head > summary div::after {
  background: url('icon-sprite.png') calc(-1 * var(--sprite-interval)) 0px;
}

/* --- styles for the "action" (bottom) section --- */
.actions {
  height: 50px;
  padding: 0 var(--base-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.actions button {
  border-radius: 2px;
  color: var(--white);
  height: 30px;
  padding: 0 16px;
  background: var(--primary);
  border: 1px solid #3c78dc;
}
.actions button:hover {
  opacity: 0.85;
}

.actions a {
  text-decoration: none;
  color: var(--primary);
}
.actions a:hover {
  text-decoration: underline;
}
